<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head"></head>
<div th:replace="fragments :: navbar" />

<body>
	<main>
		<section class="container py-5 frame">
			<div class="row">
				<div class="col-md-2" sec:authorize="hasRole('ROLE_ADMIN')">
					<a class="btn btn-info" title="Свали csv"
						th:href="@{/stations/add}">Добави станция</a>
				</div>
				<div class="col-md-2" sec:authorize="hasRole('ROLE_ADMIN')">
					<a class="btn btn-info" title="Добави тегла"
						th:href="@{/stations/base-weights}">Редактирай тегла</a>
				</div>
			</div>
			<h2 class="text-center text-info">Станции</h2>
			<br>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Име</th>
						<th scope="col">Базово тегло</th>
						<th scope="col">Валидност от</th>
						<th scope="col">Валидност до</th>
						<th sec:authorize="hasRole('ROLE_ADMIN')" scope="col">Редактирай</th>
						<th sec:authorize="hasRole('ROLE_ADMIN')" scope="col">Изтрий</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="station : ${stations}">
						<td th:text="${station.id}">
						</th>
						<td th:text="${station.name}"></td>
						<td th:text="${station.baseWeight}"></td>
						<td
							th:text="${station.validFrom.getMonth().getValue() +'-'+ station.validFrom.getYear()}"></td>
						<td
							th:text="${station.validTo.getMonth().getValue()+ '-'+ station.validTo.getYear()}"></td>
						<td><a sec:authorize="hasRole('ROLE_ADMIN')"
							class="btn btn-info btn-block" title="Edit"
							th:href="@{/stations/edit/{id}(id=${station.id})}">
								Редактирай </a></td>
						<td><a sec:authorize="hasRole('ROLE_ADMIN')"
							class="btn btn-info btn-block" title="Delete"
							th:href="@{/stations/delete/{id}(id=${station.id})}"> Изтрий
						</a></td>
					</tr>
				</tbody>
			</table>
		</section>

	</main>
	<th:block th:replace="fragments :: footer" />
</body>
</html>