section{
	min-height:600px;
}

#about {
	min-height: 600px;
	text-align: justify;
}


.bg-light{
	background-color: rgba(177, 212, 252, 0.25) !important;
}

a {
    color: #428BCA;
    text-decoration: none;
}

a:hover, a:focus {
    color: #2A6496;
    text-decoration: underline;
}

.frame {
	min-height: 700px;
}

footer {
	min-height: 200px;
}

#highlighted{
	background: whitesmoke;
}