<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head"></head>
<div th:replace="fragments :: navbar" />

<body>
	<main>

		<div id="about" class="container frame py-5">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<h2 class="text-info display-4 font-weight-bold text-center ">Wheather stats app</h2>
					<h2 class="text-info display-2 font-weight-bold text-center">За нас</h2>
					<br>
					<p class="text-info display-4 text-center">Това е апликация, която дава възможност за извличане и визуализиране на данни за времето в България от 1999 до днес.</p>
				
				</div>
			</div>
		</div>
	</main>
	<th:block th:replace="fragments :: footer" />
</body>
</html>