<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head"></head>
<div th:replace="fragments :: navbar" />

<body>
	<main>
		<section class="container py-5 frame">
			<h2 class="text-center text-info">Timelines CSV Uploader</h2>
			<br>
			<div th:if="${message}">
				<h2 th:text="${message}" />
			</div>

			<form action="/timeline/upload-csv" method="POST"
				enctype="multipart/form-data">
				<div class="form-group">
					<label>File input</label> <input type="file" name="file" />
				</div>
				<br />
				<br />
				<div class="form-group">
					<button type="submit" id="upload">Upload</button>
				</div>
			</form>
		</section>


	</main>
	<th:block th:replace="fragments :: footer" />
</body>
</html>